.cache/
.tools/
build/
test-platform/targets/
src/RoclayFlatGenerated.roc
src/RoclayTreeGenerated.roc
src/RoclayTextGenerated.roc
tools/__pycache__/
roc-ray-platform/targets/
/PuriRocRayDemo
/RocSpecializationMinimal
/RocSpecializationRoclay
/RocSpecializationPuri
